@media (max-width:500px) {
    .TermsGrid{
        width: 100%;
        margin: 5% 0;
    }
    .TermsGrid p{
        width: 89%;
    }
    .rightColumn h4{
        padding-bottom: 15%;
        padding-top: 14.5%;
    }
    .PrincipalAbout{
        display: block;
        text-align: center;
    }
    .leftAbout{
        width: 60%;
        margin: 5% 7%;
    }
    .AboutUs h1, h2{
        width: 100% !important;
        margin: 0 !important;
    }
    .ContactButton{
        margin-left: 0;
        margin-bottom: 15%;
    }
    .rightAbout{
        width: 100%;
    }
    .rightAbout h1, h2, p{
        width: 60%;
        text-align: center;
        margin: 0 15%;
    }
    .rightAbout h2{
        margin-bottom: 2% !important;
    }
    .rightAbout p{
        text-align: center;
        margin-top: 5%;
        width: 91% !important;
        margin-left: 5%;
    }
    .Logo{
        width: 37%;
        padding: 4% 0;
        padding-top: 5%;
    }
    .form-div{
        margin-top: 5%;
        margin-bottom: 5%;
        height: 40vh;
    }
    .Buttons{
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 5%;
    }
    .LinkButton{
        font-size: 15px;
        width: 55%;
        padding: 4%;
        margin-bottom: 6%;
    }
    .formSection{
        min-height: auto;
    }
    .PicSection h1{
        border-width: 4px;
        width: 60%;
        font-size: 29px;
    }
    .redSection h1{
        text-align: center;
        font-size: 28px;
        padding: 8% 0;
        padding-bottom: 4%;
    }
    .DestinationRow{
        display: block;
    }
    .Destinations{
        display: block;
        padding-bottom: 1%;
        width: 100%;
    }
    .SpecificDestination{
        width: 70%;
        height: 100%;
        margin: 5% 15%;
        margin-bottom: 0;
    }
    .SpecificName{
        padding: 2% 0%;
        position: relative;
        width: 50%;
        margin-left: 24%;
        background-color: white;
        box-shadow: 1.5px 2px 3px rgb(121, 115, 115) ;
        margin-bottom: 20%;
    }
    .SpecificName p{
        width: 100%;
        font-size: 14px;
        padding-top: 2.1%;
    } 
    .BurgerMenu{
        display: block;
        cursor: pointer;
        margin-top: 5.7%;
        margin-bottom: 5%;
    }
    .footer{
        display: block;
        margin-top: 20%;
        width: 76;
        padding: 0% 12%;
        height: 50vh;
    }
    .logoFooter{
        width: 55%;
        padding: 3% 2.8%;
        padding-left: 0;
        margin-top: 5%;
    }
    .footerInfo{
        width: 100%;
        display: block;
    }
    .Mails{
        line-height: 120%;
        margin-top: -1%;
    }
    .leftInfo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 100%;
    }
    .leftInfo p{
        line-height: 250%;
        width: 100%;
        margin-left: -5%;
    }
    .rightInfo{
        margin-top: 25%;
        width: 100%;
    }
    .leftInfo a,p,span{
        font-size: 14px;
    }
    .leftInfo{
        align-items: center;
    }
    .rightInfo p{
        font-size: 14px;
    }
    .connectWeb{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .networksLink{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: -57%;
        margin-left: -3%;
        padding-bottom: 45%;
        width: 40%;
    }
    .NavigationLinks{
        display: none;
    }
    #SideMenu{
        display: none;
    }
    #blur{
        display: none;
    }
    .network{
        width: 32%;
    }
    .SideMenu{
        display:block;
        position: fixed;
        top: 0;
        left: 0%;
        background-color: #EE2632;
        width: 83vw;
        height: 100vh;
        z-index: 10;
        animation-name: SideMenu;
        animation-duration: 2s;
    }
    @keyframes SideMenu {
        0%{left: -73%;}
        100%{left: 0%;}
    }
    .blur{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(1.5px);
        background-color: rgba(175, 174, 174, 0.568);
        z-index: 5;
    }
    #Form-Page{
        position: fixed;
        top: 0%;
        width: 100%;
    }
    .Form{
        position: fixed;
        top: 25%;
        width: 100%;
    }
    .CloseMenu{
        width: 12%;
        margin-top: 6%;
        margin-left: 86%;
        display: block;
    }
    .NavigationLinksMob{
        margin-top: 30%;
        margin-left: 10%;
        flex-direction: column;
        width: 80%;
        display: flex;
    }
    .NavigationLinksMob a:first-of-type{
        margin-bottom: 5%;
    }
    .NavigationLinksMob a{
        color: white;
        text-decoration: none;
        margin-bottom: 13%;
        font-size: 23px;
    }
    .NavigationLinksMob p{
        margin-left: 0%;
        margin-top: 5%;
        color: white;
        text-decoration: none;
        margin-bottom: 13%;
        text-align: left;
        width: 100%;
        font-size: 23px;
    }
    .Close{
        width: 6%;
        margin: 5%;
        margin-left: 90%;
    }
    .Form{
        width: 90%;
        height: 40vh;
        left: 5%;
    }
    .Form h1{
        font-size: 19px;
        width: 50%;
        margin-left: 25%;
    }
    .Form input{
        width: 70%;
        padding: 1% 2%;
        font-size: 13px;
    }
    .Form p{
        font-size: 11px;
    }
    .Message{
        width:10%;
        margin-left: 45%;
        margin-top: 8%;
    }
    .ConnectButton{
        font-size: 22px;
        height: 4vh;
        width: 50%;
    }
    .TermsTitle{
        width: 80%;
    }
    .TermsTitle h1{
        font-size: 35px;
        margin-left: 5%;
    }
    .TermsInfo{
        margin: 0 5%;
        width: 90%;
    }
    .TermsInfo h2{
        text-align: left;
        font-size: 23px;
        margin-bottom: 3%!important;
        margin-top: 5% !important;
    }
    .AboutUsP{
        text-align: center;
        line-height: 150%;
        font-size: 18px;
        margin-bottom: 5%;
    }
    .AboutUs h1{
        font-size: 30px;
    }
    .PackageCard{
        display: block;
    }
    .RightSideCard{
        display: block;
        width: 84%;
        margin: 0 6%;
    }
    .LeftSideCard {
        width: 84%;
        margin: 0 6%;
    }
    .Line{
        display: flex;
        justify-content: left;
        width: 90%;
        align-items: center;
    }
    .Line p{
        width: 87%;
    }
    .Line:last-of-type{
        margin-bottom: 10%;
    }
    .Icon{
        margin-right: 5%;
        width: 13%;
    }
    .RightHalf{
        margin: 0;
    }
    .PriceRow{
        display: block;
    }
    .Description{
        margin-top: -2%;
        margin-bottom: 10%;
    }
    .PriceMob{
        display: block;
        flex-direction: inherit;
        margin-left: 75%;
        width: 30%;
        margin-bottom: 13%;
        margin-top: -6%;
        text-align: right;
    }
    .Reserve{
        margin-left: 45%;
        padding: 3.2% 15%;
    }
    .RightSideCard{
        margin-bottom: 10%;
    }
    .Price{
        margin-bottom: -9%;
    }
    .formSection{
        animation-name: BackgAnimMob;
        animation-duration: 50s;
        animation-iteration-count: infinite;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 92vh;
        padding-top: 3%;
    }
    @keyframes BackgAnimMob{
        0%{background-image: url(/1_mov.jpg);}
        19.9%{background-image: url(/1_mov.jpg);}
        20%{background-image: url(/2_mov.jpg);}
        39.9%{background-image: url(/2_mov.jpg);}
        40%{background-image: url(/3_mov.jpg);}
        59.9%{background-image: url(/3_mov.jpg);}
        60%{background-image: url(/4_mov.jpg);}
        79.9%{background-image: url(/4_mov.jpg);}
        80%{background-image: url(/5_mov.jpg);}
        100%{background-image: url(/5_mov.jpg);}
    }
    .formSection{
        color: #EE2632;
        margin: 0;
        padding: 2.5% 6%;
        padding-top: 25%;
        padding-bottom: 5%;
        font-size: 21px;
        line-height: 250%;
    }
    .formSection p{
        font-size: 16px;
        margin-top: 5%;
        width: 50%;
        margin-left: 0%;
        text-align: left;
        line-height: 130%;
        color: rgb(68, 65, 65);
        margin-bottom: 10%;
    }
    .BookLabel{
        display: flex;
        justify-content: left;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 80%;
        margin-top: 100%;
        margin-bottom: 45%;
        cursor: pointer;
    }
    .BookLabel p{
        font-size: 16px;
        width: 50%;
        margin-top: 1%;
        margin-right: 7%;
        margin-left: 2%;
        margin-bottom: 0;
    }
    .Arrow{
        margin-top: 2%;
        width: 20%;
    }
    #InsuranceMob{
        display: block;
    }
    #InsuranceDesk{
        display: none;
    }
    .Info{
        width: 55%;
        font-size: 25px;
        margin-top: 5%;
        margin-left: 22.5%;
    }
}

@media (width:320px) {
    .PicSection h1{
        border-width: 4px;
        width: 60%;
        font-size: 22.5px;
    }
    .redSection h1{
        font-size: 20px;
    }
    .Info{
        font-size: 20px;
    }
    .networksLink{
        margin-top: -60%;
        padding-bottom: 45%;
    }
    .leftInfo a,p,span{
        font-size: 12px;
    }
    .rightInfo p{
        font-size: 12px;
    }
    .SpecificName p{
        font-size: 12px;
    }
    .SpecificName{
        padding-top: 2.3%;
        padding-bottom: 3%;
    }
    .ConnectButton{
        height: 7vh;
        font-size: 18px;
    }
    .AboutUsP{
        font-size: 13px;
    }
    .AboutUs h1{
        font-size: 23px;
    }
    .NavigationLinksMob a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .NavigationLinksMob p{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .CloseMenu {
        margin-left: 83%;
    }
    .Form{
        width: 90%;
        height: 57vh;
        left: 5%;
    }
    .Form h1{
        font-size: 15px;
        width: 50%;
        margin-left: 25%;
    }
    .Form input{
        font-size: 10px;
    }
    .Form p{
        font-size: 8px;
    }
    .Message{
        margin-left: 45%;
        margin-top: 0%;
    }
    .ConnectButton{
        width: 45%;
        font-size: 19px;
        height: 6vh;
    }
    .TermsTitle h1{
        font-size: 32px;
    }
    .TermsInfo{
        margin: 0 5%;
        width: 90%;
    }
    
    .TermsInfo h2{
        font-size: 15px;
    }
    .TermsInfo h4{
        margin: 0;
        font-size: 13px;
    }
    .TermsInfo p{
        font-size: 10px;
    }
    .Phones p{
        margin-bottom: 5%;
    }
    .Mails{
        line-height: 110%;
        margin-top: -0.8%;
    }
    .BookLabel{
        display: flex;
        justify-content: left;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 80%;
        margin-top: 80%;
        margin-bottom: 45%;
        cursor: pointer;
    }
    .BookLabel p{
        font-size: 13px;
        width: 50%;
        margin-top: 0.5%;
        margin-right: 7%;
        margin-left: 2%;
        margin-bottom: 0;
    }
    .formSection{
        padding-top: 5%;
        font-size: 15px;
        height: 126vh;
    }
    .Info{
        width: 60%;
        margin-left: 21.5%;
    }   
    
}
@media (max-width:395px) {
    .PicSection h1{
        border-width: 4px;
        width: 60%;
        font-size: 22.5px;
    }
    .redSection h1{
        font-size: 20px;
    }
    .Info{
        font-size: 20px;
    }
    .networksLink{
        margin-top: -55%;
        padding-bottom: 45%;
    }
    .Mails{
        margin-top: -4% !important;
        line-height: 130% !important;
    }
    .leftInfo a,p,span{
        font-size: 12px;
    }
    .rightInfo p{
        font-size: 12px;
    }
    .SpecificName p{
        font-size: 12px;
    }
    .SpecificName{
        padding-top: 2.3%;
        padding-bottom: 3%;
    }
    .ConnectButton{
        height: 7vh;
        font-size: 18px;
    }
    .AboutUsP{
        font-size: 13px;
    }
    .AboutUs h1{
        font-size: 23px;
    }
    .NavigationLinksMob a{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .NavigationLinksMob p{
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
    .CloseMenu {
        margin-left: 83%;
    }
    .Form{
        width: 90%;
        height: 57vh;
        left: 5%;
    }
    .Form h1{
        font-size: 15px;
        width: 50%;
        margin-left: 25%;
    }
    .Form input{
        font-size: 10px;
    }
    .Form p{
        font-size: 8px;
    }
    .Message{
        margin-left: 45%;
        margin-top: 0%;
    }
    .ConnectButton{
        width: 45%;
        font-size: 19px;
        height: 6vh;
    }
    .TermsTitle h1{
        font-size: 32px;
    }
    .TermsInfo{
        margin: 0 5%;
        width: 90%;
    }
    
    .TermsInfo h2{
        font-size: 15px;
    }
    .TermsInfo h4{
        margin: 0;
        font-size: 13px;
    }
    .TermsInfo p{
        font-size: 10px;
    }
    .Phones p{
        margin-bottom: 5%;
    }
    .Mails{
        line-height: 110%;
        margin-top: -0.8%;
    }
    .BookLabel{
        display: flex;
        justify-content: left;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 80%;
        margin-top: 80%;
        margin-bottom: 45%;
        cursor: pointer;
    }
    .BookLabel p{
        font-size: 13px;
        width: 50%;
        margin-top: 0.5%;
        margin-right: 7%;
        margin-left: 2%;
        margin-bottom: 0;
    }
    .formSection{
        padding-top: 5%;
        font-size: 15px;
        height: 126vh;
    }
    .Info{
        width: 60%;
        margin-left: 21.5%;
    }   
    
}
@media (width:390px) {
    .formSection{
        padding-top: 25%;
        font-size: 20px;
    }
    .Info{
        width: 60%;
        margin-left: 21.5%;
    }   
}