p{
    font-size: 14px;
}
a{
    text-decoration: none;
}


/************LayOut*****************/
.blur{
    display: none;
}
.CloseMenu{
    display: none;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    max-height: 20vh;
    background-color: #EE2632;
}
.Logo{
    cursor: pointer;
    width: 10%;
    padding-top: 1.5%;
}
.BurgerMenu{
    display: none;
}
#SideMenu{
    display: none;
    width: 80%;
}
.NavigationLinks{
    display: flex;
    width: 100%;
    margin: 2% 0;
    margin-bottom: 1%;
    justify-content: end;
}

.NavigationLinksMob{
    display: none;
}
.NavigationLinks a{
    text-decoration: none;
    color: white;
    margin-right: 5%;
}
.NavigationLinks a:last-of-type{
    margin-right: 0;
}
.NavigationLinks p{
    font-size: 16px;
    color: white;
    margin-top: 0;
    margin-right: 5%;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 4%;
    border-top: solid;
    border-color: #EE2632;
    max-height: 23vh;
}
.logoFooter{
    width: 13%;
    padding: 3% 2.8%;
    margin-top: 0.5%;
}
.footerInfo{
    width: 75%;
    margin-top: 0.6%;
    color: #EE2632;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.footerInfo a{
    font-size: 15px;
    text-decoration: none;
    color: #EE2632;
}
.footerInfo p{
    font-size: 15px;
}
.leftInfo{
    width: 25%;
}
.rightInfo p:last-of-type{
    margin-top: 5%;
}
.connectWeb{
    margin-top: 2%;
    margin-bottom: 10%;
}
.leftInfo p:last-of-type{
    margin-top: -4%;
}
.rightInfo{
    width: 37%;
    margin-right: 6%;
}
.networksLink{
    width: 22%;
}
.network{
    width: 15%;
    margin: 8% 0;
}
/************End of LayOut*****************/


/*******************Main Section*********************/

.formSection{
    animation-name: BackgAnim;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 87vh;
    padding-top: 3%;
}
@keyframes BackgAnim{
    0%{background-image: url(/1_esc.jpg);}
    19.9%{background-image: url(/1_esc.jpg);}
    20%{background-image: url(/2_esc.jpg);}
    39.9%{background-image: url(/2_esc.jpg);}
    40%{background-image: url(/3_esc.jpg);}
    59.9%{background-image: url(/3_esc.jpg);}
    60%{background-image: url(/4_esc.jpg);}
    79.9%{background-image: url(/4_esc.jpg);}
    80%{background-image: url(/5_esc.jpg);}
    100%{background-image: url(/5_esc.jpg);}
}
.formSection{
    color: #EE2632;
    margin: 0;
    padding: 2.5% 6%;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 28px;
    line-height: 250%;
}
.formSection p{
    margin-top: -3%;
    color: rgb(68, 65, 65);
    margin-bottom: -2.5%;
}
.leftAbout{
    width: 30%;
    padding: 4% 0;
    padding-left: 15%;
    padding-right: 0;
}
.rightAbout{
    width: 50%;
}
.rightAbout h2{
    color: black !important;
    margin-left: 0;
    margin-top: 7.5%;
    margin-bottom: -2.5%;
}
.rightAbout h1, h2{
    margin-left: 0;
    width: 90%;
    text-align: left;
}
.rightAbout p{
    text-align: left;
    width: 50%;
}
.ContactButton{
    width: 25%;
    margin-top: 3% !important;
    margin-left: -75%;
}
.PrincipalAbout{
    display: flex;
    justify-content: space-around;
}
.BookLabel{
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    border-radius: 25px;
    padding-right: 5%;
    background-color: white;
    width: 22%;
    margin-top: 4.5%;
    cursor: pointer;
    border: none;
}
.BookLabel p{
    padding: 7% 0;
    margin-top: 0%;
    color: #EE2632 !important;
}
.Arrow{
    margin-top: 1.5%;
    margin-right: 15%;
    width: 20%;
}
.ArrowMove{
    animation-name: MoveArrow;
    animation-duration: 10s;
}
@keyframes MoveArrow {
    0%{margin-right: 15%;}
    10%{margin-right: -20%;}
    100%{margin-right: -20%;}
}
.Buttons{
    display: flex;
    justify-content: space-around;
    margin: 4% 18%;
    align-items: center;
}
.LinkButton{
    font-size: 16px;
    width: 17%;
    background-color: white;
    border: solid;
    border-width: 1px;
    font-weight: 500;
    text-align: center;
    padding: 1.15% 2%;
    border-radius: 1.5rem;
    box-shadow: -1px 1px 3px rgb(78, 78, 78) ;
}
.LinkButton{
    text-decoration: none;
    color: rgb(41, 41, 41);
}
.LinkButton:hover{
    color: #EE2632;
    border: solid;
    border-width: 1px;
    border-color: #EE2632;
    
}
.redSection{
    background-color: #EE2632;
}
.DestinationRow{
    width: 92%;
    display: flex;
    justify-content: left;
    margin: 0% 3.5%;
}
.redSection h1{
    color: white;
    margin: 0;
    padding: 2.5% 6%;
    padding-bottom: 0;
    font-size: 32px;
}

.Destinations{
    width: 20%;
    margin: 3% 0%;
    margin-left: 2%;
}
.SpecificName{
    position: relative;
    width: 55%;
    height: 2.5vh;
    text-align: center;
    background-color: white;
    padding: 2.5% 1%;
    margin-bottom: 5%;
    margin-left: 22.5%;
    margin-top: -7%;
    color: #EE2632;
    cursor: pointer;
}
.SpecificName p{
    margin: 0%;
    font-size: 14px;
}
.SpecificDestination{
    width: 100%;
    cursor: pointer;
}
#Form-div{
    display: none;
}
.Form{
    z-index: 5;
    text-align: center;
    position: fixed;
    width: 45%;
    max-height: 60.2vh;
    top: 17.8%;
    left: 27.5%;
    background-color: white;
}
.Form h1{
    color: #EE2632;
    font-size: 23px;
}
.Form input{
    width: 70%;
    padding: 1% 2%;
    font-size: 13px;
}
.Form p{
    font-size: 12px;
    width: 77%;
    line-height: 160%;
    text-align: left;
    margin-left: 13%;
    margin-top: 4%;
    color: gray;
}
.ConnectButton{
    border-radius: 15px;
    font-size: 18px;
    width: 25%;
    padding: 1% 0;
    height: 9.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #EE2632;
    border: none;
    color: white;
    cursor: pointer;
}
.Close{
    width: 2.8%;
    margin: 1.5%;
    margin-left: 95.5%;
    cursor: pointer;
}
.Message{
    width:5%;
    margin-left: 48%;
    margin-top: 8%;
}
.Blur{
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(1.8px);
    width: 100%;
    height: 100vh;
}
.Insurance-div{
    width: 100%;
    margin: 10% 0;
    margin-top: 7%;
    text-align: center;
}
#InsuranceMob{
    display: none;
}
#InsuranceDesk{
    display: block;
}
.Info{
    color: rgb(83, 80, 80);
    margin: 0;
    width: 25%;
    margin: 2.5% 39%;
    padding-bottom: 0;
    font-size: 32px;
}
/*******************End of Main Section*********************/


/******************Destination Section*************/

.PicSection h1{
    font-size: 55px;
    border-bottom: solid;
    border-bottom-width: 9px;
    border-color: #EE2632;
    color: #EE2632;;
    width: 35%;
    text-align: right;
    padding-right: 3%;
}
.PicSection{
    height: 53vh;
    padding-top: 7%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Line:last-of-type{
    margin-top: 0;
}
.container{
    width: 80%;
    margin: 0 10%;
}
.PackageCard{
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: rgb(150, 95, 95);
    padding: 1%;
    margin-top: 5%;
}
.LeftSideCard{
    width: 43%;
}
.RightSideCard{
    margin-top: 2%;
    width: 54%;
    font-size: 14px;
}
.RightSideCard h2{
    color: #EE2632;
}
.RightSideCard p{
    color: rgb(61, 61, 61);
}
.Line h2{
    font-size: 26px;
    color: #EE2632;
}
.Line{
    margin-bottom: 5%;
    display: flex;
    text-align: left;
    width: 50%;
}

.Left{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-top: 3%;
}
.Price h2{
    font-size: 5px;
}
.Left p{
    color: gray;
}
.Left h2{
    margin-right: -10%;
    margin-top: 6%;
}
.Line p{
    width: 80%;
}
.FirstLine p:first-of-type{
    margin-top: 4%;
}
.Line:last-of-type{
    margin-top: 4%;
}
.Icon{
    width: 10%;
    margin-top: 2%;
    margin-right: 5%;
}
.RightHalf{
    position: relative;
    margin-left: 53%;
    margin-top: 0%;
    margin-bottom: -15.5%;
}
.PriceMob{
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.PriceRow{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.ClockP{
    width: 25%;
    margin-left: 2%;
}
.Reserve{
    text-align: center;
    padding: 2.5% 5%;
    font-size: 18px;
    margin-top: 5%;
    margin-right: 3%;
    text-decoration: none;
}
/**************End of Destination Section*************/


/********AboutUs**********************************/
.AboutUs{
    background-color: white;
    text-align: center;
}
.AboutTitle{
    color: #EE2632 !important;
}
.ContactButton{
    margin-top: 0;
    margin-bottom: 5%;
    padding: 0.5% 0;
}
.AboutUsP{
    width: 25%;
    line-height: 25px;
}
.redSection h1{
    text-align: left;
}
/*******end of About Us***************************/

/*********Terms and Conditions**************/
.TermsTitle{
    border-bottom: solid;
    border-width: 7px;
    border-color: #EE2632;
    width: 50%;
    margin-bottom: 3%;
}
.TermsTitle h1{
    font-size: 45px;
    margin-left: 27%;
    margin-top: 10%;
}
.TermsInfo{
    width: 73%;
    margin: 0 13.5%;
}
.TermsInfo p{
    line-height: 150%;
}
.TermsInfo h2{
    margin-top: 5%;
    margin-bottom: 0;
    color: #EE2632;
}
.TermsGrid{
    width: 60%;
    display: flex;
    border: solid;
    border-width: 1px;
}
.TermsGrid p{
    margin: 0;
    padding: 3% 5%;
    border: solid;
    border-width: 1px;
}
.TermsGrid h4{
    border: solid;
    border-width: 1px;
    padding: 5%;
    margin: 0;
}
.rightColumn h4{
    padding: 8.2% 5%;
}
.rightColumn p{
    padding: 4.99% 5%;
}
.TermsInfo spam{
    font-weight: 700;
}
.TermsInfo a{
    color: black;
    text-decoration: underline;
}
/*********End of Terms and Conditions*******/



/*************Responsive Design**************/





@media (min-width:1400px) {
    .BookLabel{
        display: flex;
        justify-content: space-between;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 25%;
        margin-top: 4.5%;
        cursor: pointer;
    }
    .Arrow{
        width: 20%;
        margin-right: 15%;
    }
    .BookLabel p{
        font-size: 17px;
        padding-top: 7%;
    }
}
@media (min-width:2500px) {
    .formSection p{
        margin-top: -2%;
        color: rgb(68, 65, 65);
        margin-bottom: -2.5%;
    }
    .BookLabel{
        display: flex;
        justify-content: space-between;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 22%;
        margin-top: 4.5%;
        cursor: pointer;
        border: none;
    }
    .BookLabel p{
        font-size: 22px;
        padding-top: 8%;
    }
    .Arrow{
        margin-top: -6%;
        width: 20%;
    }
}
@media (min-width:1920px) {
    .formSection p{
        margin-top: -2%;
        color: rgb(68, 65, 65);
        margin-bottom: -2.5%;
    }
    .BookLabel{
        display: flex;
        justify-content: space-between;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 22%;
        margin-top: 4.5%;
        cursor: pointer;
        border: none;
    }
    .formSection p{
        margin-top: -1%;
    }
    .Arrow{
        margin-top: -1%;
        width: 20%;
        margin-right: 15%;
    }
    .leftInfo{
        margin-top: 2%;
        width: 15%;
    }
    .rightInfo{
        margin-top: 2%;
    }
    .SpecificName p {
        font-size: 17px;
    }
}

@media (max-width:1125px) {
    .BookLabel{
        display: flex;
        justify-content: space-between;
        padding: 0% 2%;
        padding-right: 5%;
        background-color: white;
        width: 22%;
        margin-top: 4.5%;
        cursor: pointer;
        border: none;
    }
    .Arrow{
        width: 20%;
    }
    p{
        font-size: 11px;
    }
    .NavigationLinks p{
        font-size: 12px;
    }
    .Line h2{
        font-size: 20px;
    }
    .ConnectButton{
        font-size: 16px;
    }
    .NavigationLinks a{
        font-size: 12px;
    }
    .Form h1{
        font-size: 18px;
    }
    .Form p{
        font-size: 9px;
    }
    .Form input{
        font-size: 12px;
    }
    .LinkButton{
        font-size: 15px;
    }
    .redSection h1{
        font-size: 30px;
    }
    .Info{
        font-size: 30px;
    }
    .SpecificName p{
        font-size: 13px;
    }
    .footerInfo a{
        font-size: 14px;
    }
    .footerInfo p{
        font-size: 14px;
    }
    .PicSection h1{
        font-size: 54px;
    }    
    .AboutUsP{
        line-height: 20px;
    }
}
@media (max-width:1020px) {
    p{
        font-size: 10px;
    }
    .NavigationLinks p{
        font-size: 11px;
    }
    .NavigationLinks a{
        font-size: 11px;
    }
    .Line h2{
        font-size: 19px;
    }
    .ConnectButton{
        font-size: 14px;
    }
    .Form h1{
        font-size: 17px;
    }
    .Form p{
        font-size: 8px;
    }
    .Form input{
        font-size: 11px;
    }
    .LinkButton{
        font-size: 14px;
    }
    .redSection h1{
        font-size: 29px;
    }
    .Info{
        font-size: 29px;
    }
    .SpecificName p{
        font-size: 12px;
    }
    .footerInfo a{
        font-size: 13px;
    }
    .footerInfo p{
        font-size: 12px;
    }
    .PicSection h1{
        font-size: 53px;
    }    
    .AboutUsP{
        line-height: 15px;
    }
}
@media (max-width:950px) {
    p{
        font-size: 8px;
    }
    .NavigationLinks p{
        font-size: 9px;
    }
    .NavigationLinks a{
        font-size: 9px;
    }
    .Line h2{
        font-size: 15px;
    }
    .Form h1{
        font-size: 14px;
    }
    .Form p{
        font-size: 7px;
    }
    .ConnectButton{
        font-size: 12px;
    }
    .Form input{
        font-size: 10px;
    }
    .LinkButton{
        font-size: 12px;
    }
    .redSection h1{
        font-size: 26px;
    }
    .Info{
        font-size: 26px;
    }
    .SpecificName p{
        font-size: 11px;
    }
    .footerInfo a{
        font-size: 12px;
    }
    .footerInfo p{
        font-size: 11px;
    }
    .PicSection h1{
        font-size: 52px;
    }    
    .AboutUsP{
        line-height: 10px;
    }
}
@media (max-width:760px) {
    p{
        font-size: 7px;
    }
    .NavigationLinks p{
        font-size: 8px;
    }
    .NavigationLinks a{
        font-size: 8px;
    }
    .Line h2{
        font-size: 13px;
    }
    .Form h1{
        font-size: 12px;
    }
    .Form p{
        font-size: 6px;
    }
    .Form input{
        font-size: 9px;
    }
    .LinkButton{
        font-size: 9px;
    }
    .ConnectButton{
        font-size: 11px;
    }
    .redSection h1{
        font-size: 22px;
    }
    .Info{
        font-size: 22px;
    }
    .SpecificName p{
        font-size: 10px;
    }
    .footerInfo a{
        font-size: 11px;
    }
    .footerInfo p{
        font-size: 10px;
    }
    .PicSection h1{
        font-size: 51px;
    }    
}
@media (max-width:670px) {
    p{
        font-size: 6px;
    }
    .NavigationLinks p{
        font-size: 7px;
    }
    .NavigationLinks a{
        font-size: 7px;
    }
    .Line h2{
        font-size: 11px;
    }
    .Form h1{
        font-size: 11px;
    }
    .Form p{
        font-size: 5px;
    }
    .ConnectButton{
        font-size: 9px;
    }
    .Form input{
        font-size: 8px;
    }
    .LinkButton{
        font-size: 8px;
    }
    .redSection h1{
        font-size: 20px;
    }
    .Info{
        font-size: 20px;
    }
    .SpecificName p{
        font-size: 8px;
    }
    .footerInfo a{
        font-size: 10px;
    }
    .footerInfo p{
        font-size: 9px;
    }
    .PicSection h1{
        font-size: 50px;
    }    
}
@media (max-width:570px) {
    p{
        font-size: 5px;
    }
    .NavigationLinks p{
        font-size: 6px;
    }
    .NavigationLinks a{
        font-size: 6px;
    }
    .Form h1{
        font-size: 10px;
    }
    .Line h2{
        font-size: 10px;
    }
    .Form p{
        font-size: 4px;
    }
    .Form input{
        font-size: 7px;
    }
    .ConnectButton{
        font-size: 8px;
    }
    .LinkButton{
        font-size: 7px;
    }
    .redSection h1{
        font-size: 18px;
    }
    .Info{
        font-size: 18px;
    }
    .SpecificName p{
        font-size: 7px;
    }
    .footerInfo a{
        font-size: 9px;
    }
    .footerInfo p{
        font-size: 8px;
    }
    .SpecificName{
        padding: 0.5%;
        padding-bottom: 0;
        padding-top: 0.8%;
    }
    .PicSection h1{
        font-size: 49px;
    }    
}
/******End of Responsive Design**************/